body {
  margin:0;
}


/** HEADER **/

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #2f4f4f; 
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  background-color: #D3D3D3;
}

#nav-list li a {
text-align: center;
}


#main-content h2 {
	font-weight: bold;
	padding: 5px;
	font-size: 1.8em;
}

.tile { 
  background-color: #D3D3D3;
  margin: 0 auto 5px auto;
  height:1000px;
}

.tile h3 {
	font-size:140%;
	padding: 20px;
	font-weight: bold;
}

.tile p {
	padding: 0px 30px 30px 30px;
	
}

/********** Large and medium devices only **********/
@media (min-width: 768px) {
	.navbar-brand {
  margin-bottom: 10px;
	}
}